@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

/* Header */

.header {
  background-image: url(../img/Bg-hero.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 67vh;
  display: flex;
  align-items: center;
  margin-top: 43px;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: #343a40;
  padding: 12px 50px 12px 12px;
}

.menu img {
  margin-left: 80px;
  margin-top: 3px;
}

.menu .navbar ul li {
  position: relative;
  float: left;
  margin-top: 16px;
  margin-left: -30px;
}

.menu .navbar ul li a {
  margin-right: 50px;
  color: #ffffff;
  font-size: 18px;
  display: block;
  font-weight: 600;
}

.menu .navbar ul li a:hover {
  color: #939699;
}

.icono {
  width: 40px;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: -2rem;
  display: none;
}

.header-content h1 {
  font-size: 75px;
  text-align: right;
  margin-left: 52.2rem;
  color: #ffffff;
}

.header-content p {
  color: #ffffff;
  font-size: 18px;
  text-align: right;
  margin-top: 35px;
  margin-left: 35rem;

  line-height: 30px;
}

/* Seccion habilidades */

.habilidades {
  padding: 50px 0;
  background-color: #f1ecd7;
  position: relative;
}

.habilidades-content {
  text-align: center;
}

.habilidades-content h2 {
  font-size: 55px;
  line-height: 70px;
  color: #323337;
  margin-bottom: 5rem;
}

.hb-group {
  display: flex;
  justify-content: space-between;
}

.hb1 i {
  font-size: 80px;
  margin-bottom: 20px;
}

.hbhtml {
  color: #fc4b08;
}

.hbcss {
  color: #0d6efd;
}

.hbvideo {
  color: #495057;
}

.hbpen {
  color: #ffc107;
}

.hbyoutube {
  color: #dc3545;
}

.hb1 h3 {
  font-size: 20px;
}

/* Seccion Educacion */

.educacion {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/educacion.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}

.educacion-content {
  text-align: center;
}

.educacion-content h2 {
  font-size: 55px;
  line-height: 70px;
  color: #cbcbcb;
  margin-bottom: 50px;
}

.educacion-group {
  display: flex;
  justify-content: space-between;
}

.educacion1 {
  color: #ffffff;
  line-height: 25px;
}

.educacion1 i {
  font-size: 50px;
  color: #f1ecd7;
  margin-bottom: 20px;
}

/* Seccion Experiencia */

.titulo-experiencia {
  background-color: #343a40;
  text-align: center;
  padding: 25px;
}

.titulo-experiencia h2 {
  color: #ffffff;
  font-size: 55px;
}

.experiencia {
  display: flex;
}

.experiencia-1 {
  width: 50%;
  padding: 100px 250px 100px 100px;
  background-color: #f1ecd7;
}

.experiencia-1 {
  line-height: 25px;
}

.experiencia-2 {
  background-image: url(../img/youtube-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

.experiencia-3 {
  background-image: url(../img/empresa.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

/* Seccion de Informacion de contacto */

.contacto {
  padding: 50px 50px;
  text-align: center;
}

.contacto h2 {
  font-size: 40px;
  margin-bottom: 50px;
  color: #323337;
}

.contacto-content {
  display: flex;
  justify-content: space-between;
}

.contacto1 {
  display: flex;
}

.contacto1 i {
  font-size: 20px;
  margin-right: 10px;
}

.contacto1 .ct1 {
  color: #495057;
}

.contacto1 .ct2 {
  color: #0d6efd;
}

.contacto1 .ct3 {
  color: #dc3545;
}

.contacto1 p {
  font-size: 18px;
  font-weight: 600;
}

/* Footer */

.footer {
  background-color: #343a40;
  padding: 25px 0;
}

.footer-content {
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.footer-content i {
  margin-top: 1px;
  margin-right: 3px;
}

@media (max-width: 999px) {
  .header {
    background-position: left top;
    margin-top: 75px;
    margin-bottom: -13rem;
  }

  .header-content h1 {
    text-align: right;
    margin-left: 25rem;
    font-size: 45px;
    padding: 0 40px;
    margin-bottom: 11rem;
  }

  .header-content p {
    display: none;
  }

  .icono {
    display: initial;
  }

  .menu .navbar li .portafolio {
    margin-right: -5rem;
  }

  .menu .navbar .links {
    display: none;
  }

  .habilidades {
    padding: 50px 35px;
  }

  .habilidades-content h2 {
    font-size: 45px;
    margin-bottom: 3rem;
  }

  .hb1 i {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .hb1 h3 {
    font-size: 20px;
  }

  .educacion {
    background-attachment: scroll;
  }

  .educacion-content h2 {
    font-size: 45px;
    margin-bottom: 45px;
  }

  .educacion-group {
    padding: 0 15px;
  }

  .educacion1 {
    padding: 0 10px;
    line-height: 23px;
  }

  .educacion1 i {
    font-size: 35px;
    margin-bottom: 10px;
  }

  .educacion1 p {
    font-size: 12px;
    line-height: 15px;
  }

  .educacion1 h3 {
    font-size: 15px;
  }

  .educacion1 h4 {
    font-size: 13px;
  }

  .titulo-experiencia h2 {
    font-size: 45px;
  }

  .experiencia {
    flex-direction: column;
  }

  .experiencia-1 {
    width: 100%;
    padding: 30px;
    text-align: center;
  }

  .experiencia-2,
  .experiencia-3 {
    display: none;
  }

  .contacto-content {
    flex-direction: column;
    margin-left: 16rem;
  }

  .contacto h2 {
    margin-bottom: 30px;
  }

  .contacto1 {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .header {
    background-position: left top;
    margin-top: 65px;
    margin-bottom: -12rem;
  }

  .header-content h1 {
    display: none;
  }

  .header-content p {
    display: none;
  }

  .icono {
    display: initial;
  }

  .menu .navbar ul li {
    display: none;
  }

  .menu img {
    margin-left: 120px;
  }

  .habilidades {
    padding: 50px 35px;
  }

  .habilidades-content h2 {
    font-size: 45px;
    margin-bottom: 3rem;
  }

  .hb1 i {
    font-size: 35px;
    margin-bottom: 10px;
  }

  .hb1 h3 {
    font-size: 15px;
  }

  .educacion {
    background-attachment: scroll;
  }

  .educacion-content h2 {
    font-size: 45px;
    margin-bottom: 45px;
  }

  .educacion-group {
    padding: 0 15px;
  }

  .educacion1 {
    padding: 0 10px;
    line-height: 23px;
  }

  .educacion1 i {
    font-size: 35px;
    margin-bottom: 10px;
  }

  .educacion1 p {
    font-size: 10px;
    line-height: 15px;
  }

  .educacion1 h3 {
    font-size: 15px;
  }

  .educacion1 h4 {
    font-size: 12px;
  }

  .titulo-experiencia h2 {
    font-size: 45px;
  }

  .experiencia {
    flex-direction: column;
  }

  .experiencia-1 {
    width: 100%;
    padding: 30px;
    text-align: center;
  }

  .experiencia-2,
  .experiencia-3 {
    display: none;
  }

  .contacto-content {
    flex-direction: column;
    margin-left: 10rem;
  }

  .contacto h2 {
    margin-bottom: 30px;
  }

  .contacto1 {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .header {
    background-position: left top;
    margin-top: 65px;
    margin-bottom: -12rem;
  }

  .header-content h1 {
    display: none;
  }

  .header-content p {
    display: none;
  }

  .icono {
    display: initial;
  }

  .menu .navbar ul li {
    display: none;
  }

  .menu img {
    margin-left: 120px;
  }

  .habilidades {
    padding: 50px 35px;
  }

  .habilidades-content h2 {
    font-size: 45px;
    margin-bottom: 3rem;
  }

  .hb1 i {
    font-size: 35px;
    margin-bottom: 10px;
  }

  .hb1 h3 {
    font-size: 15px;
  }

  .educacion {
    background-attachment: scroll;
  }

  .educacion-content h2 {
    font-size: 45px;
    margin-bottom: 45px;
  }

  .educacion-group {
    padding: 0 15px;
  }

  .educacion1 {
    padding: 0 10px;
    line-height: 23px;
  }

  .educacion1 i {
    font-size: 35px;
    margin-bottom: 10px;
  }

  .educacion1 p {
    font-size: 10px;
    line-height: 15px;
  }

  .educacion1 h3 {
    font-size: 15px;
  }

  .educacion1 h4 {
    font-size: 12px;
  }

  .titulo-experiencia h2 {
    font-size: 45px;
  }

  .experiencia {
    flex-direction: column;
  }

  .experiencia-1 {
    width: 100%;
    padding: 30px;
    text-align: center;
  }

  .experiencia-2,
  .experiencia-3 {
    display: none;
  }

  .contacto-content {
    flex-direction: column;
    margin-left: 5rem;
  }

  .contacto h2 {
    margin-bottom: 30px;
  }

  .contacto1 {
    margin-bottom: 20px;
  }
}
