@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/bg-portafolio.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contenedor {
  margin-top: 4rem;
}

.header {
  background-color: #343a40;
  text-align: center;
  padding: 20px 50px;
}

.header-container {
  line-height: 30px;
}

.header-container h1 {
  color: #f1ecd7;
  font-size: 50px;
  font-weight: bold;
}

.header-container p {
  color: #ffffff;
}

.titulo {
  background-color: #f1ecd7;
  text-align: center;
}

.tarjeta {
  width: 25rem;
}

.tarjeta .cuppon {
  height: 195px;
}

.tarjeta .pgweb {
  height: 223px;
}
